body {
	margin: 0;
	font-family: "Lucida Grande";
}

header {
	width: 100%;
	height: 50px;
	background-color: #F0F8FF;
}
	
.header-logo {
	float: left;
	padding: 20px;
}

.header-list li {
	list-style: none;
	float: left;
	padding: 33px 20px;
	